{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        pro.juxt.crux/crux-http-server {:mvn/version "1.18.1"}
        pro.juxt.crux/crux-core {:mvn/version "1.18.1"}
        pro.juxt.crux/crux-jdbc {:mvn/version "1.18.1"}
        pro.juxt.crux/crux-s3 {:mvn/version "1.18.1"}
        pro.juxt.crux/crux-rocksdb {:mvn/version "1.18.1"}}
 :aliases
 {
  :run {:main-opts ["-m" "app"]}}}